@import "tailwindcss";
@import "tw-animate-css";

@theme extend {
  --color-blue-50: #6ad2ff;
  --color-blue-100: #4318ff;
  --color-blue-400: #11047a;
  --color-blue-500: #2b3674;
  --color-blue-600: #1b2559;

  --color-white: #ffffff;
  --color-white-50: #fafcfe;
  --color-white-100: #f4f7fe;
  --color-white-200: #e9edf7;
  --color-white-300: #e0e5f2;
  --color-white-400: #e5e5e5;

  --color-gray-50: #a3aed0;
  --color-gray-100: #b0bbd5;
  --color-gray-700: #707eae;

  --color-orange: #ee5d50;
  --color-light-orange: #feefee;
  --color-yellow: #ffce20;
  --color-green: #01b574;
  --color-light-green: #05cd99;
  --color-red: #e31a1a;
}

@layer {
  .scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  .scrollbar::-webkit-scrollbar-track:hover {
    border-radius: 8px;
    background-color: #b0bbd5;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #707eae;
  }
}

body {
  background-color: var(--color-white-100);
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}
